<a href="https://colab.research.google.com/github/escuelaDeCodigoMargaritaMaza/Python/blob/main/CuadernoTrabajo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("Me gusta \" Python \" ")

In [ ]:
print("Me gusta \t Monty Python ")

In [ ]:
print("Me gusta \n Monty Python ")

In [ ]:
multilinea = """Datos de contrucción:
Rangos de error.
Datos a validar"""
print(multilinea)

In [ ]:
nombre = 'PILARES'
print(f'En los diferentes centros {nombre} podrás encontrar diversas opciones')

In [ ]:
nombre = 'PILARES'
taller = 'Escuela de Código'
ciudad = 'CDMX'
print(f'En los centros {nombre}, puedes encontrar la {taller}\n ... exiten 140 {nombre} en donde se oferta el taller en toda la {ciudad}')

En los centros PILARES, puedes encontrar la Escuela de Código
 ... exiten 140 PILARES en donde se oferta el taller en toda la CDMX

In [ ]:
print("*" * 15)

# Ejercicio

![image.png]()

In [ ]:
#Exponente
print(2 ** 3)
print(2. ** 3)

In [ ]:
#multiplicacion
print(2 * 3)
print(2.0 * 3)

In [ ]:
#diviion
print(6 / 3)
print(6. / 3)

In [ ]:
#division de piso
print(6 // 3)
print(6. // 3)

In [ ]:
#residuo
print(14 % 4)

In [ ]:
print(2 ** 2 ** 3)

In [ ]:
print((5 * ((25 % 13) + 100) / (2 * 13)) // 2)

10.0

In [ ]:
print("Dime lo que sea...")
loquesea = input()
print("Hmm...", loquesea, "... ¿en serio?")

In [ ]:
dime=input("Dime lo que sea...")
print("Hmm...", dime, "... ¿en serio?")

In [ ]:
numero = input("Ingresa un número:")
cuadrado = numero ** 2.0
print(numero, "al cuadrado es", cuadrado)

In [ ]:
numero = float(input("Ingresa un número:"))
cuadrado = numero ** 2.0
print(numero, "al cuadrado es", cuadrado)

In [ ]:
fnam = input("¿Me puedes dar tu nombre por favor? ")
lnam = input("¿Me puedes dar tu apellido por favor? ")
print("Gracias. ")
print("\nTu nombre es " + fnam + " " + lnam + ".")

In [ ]:
print("+" + 10 * "-" + "+")
print(("|" + " " * 10 + "|\n") * 5, end="")
print("+" + 10 * "-" + "+")

In [ ]:
paises = ['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']

In [ ]:
print('El primer país es', paises[0])
print('El segundo país es', paises[1])
print('El tercer país es', paises[2])

In [ ]:
paises[1] = 'América'
print('Eu es mal llamado también', paises[1])

In [ ]:
numero_de_paises = len(paises)
print('Hay', numero_de_paises, 'paises en la lista')

In [ ]:
paises.append('Panama')
numero_de_paises = len(paises)
print('Ahora la lista de paises es de ', numero_de_paises, 'paises.')

In [ ]:
paises.pop()
numero_de_paises = len(paises)
print('Ahora la lista de paises vuelve a ser de' , numero_de_paises, 'paises.')
paises

In [ ]:
print('El último país es ', paises[-1])
print('El penúltimo país es ', paises[-2])

In [ ]:
mex_index = paises.index('México')
print('México es el', mex_index + 1, 'er pais de la lista')

In [ ]:
poblacion = [37.8, 330.6, 127.1, 16.9, 0.4, 9.2, 6.7, 6.5]

In [ ]:
print(f'el total de población de todos los paises es {sum(poblacion)} ')

In [ ]:
print('En',paises[2],' Hay ',abs(poblacion[0]-poblacion[2]),'millones mas habitantes que en ',paises[0])

In [ ]:
print('El mayor número de habitantes de la lista es ',max(poblacion))
print('El menor número de habitantes de la lista es ',min(poblacion))

In [ ]:
paises = ['Canada', 'EU', 'México', 'Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']
paises_antes_de_mexico = paises[0:2]
print(paises_antes_de_mexico)

In [ ]:
paises_despues_de_mexico = paises[3:8]
print(paises_despues_de_mexico)

In [ ]:
paises_despues_de_mexico = paises[3:]
print(paises_despues_de_mexico)

In [ ]:
paises_norte = ['Canada', 'EU', 'México']
paises_centro = ['Guatemala', 'Belice', 'Honduras', 'El Salvador', 'Micaragua']
lista_unida = paises_norte  + paises_centro
print(lista_unida)

In [ ]:
lista_unida.sort()
print('La lista ordenada quedaría ', lista_unida)

In [ ]:
lista_unida.sort(reverse=True)
print('La lista ordenada quedaría ', lista_unida)

# EJERCICIO

Vamos a crear y manipular una lista que contiene nombres de alumnos, esta lista contedrá los nombres siguientes: 'Juan','Pedro','Beatriz','Angel','Miguel','Paz'

A continuación, agrega el código para solicitar al usuario un nombre. Debido a que las cadenas distinguen entre mayúsculas y minúsculas en Python, píde al usuario que use una letra mayúscula para comenzar el nombre del alumno, ingresa tú nombre y agregalo a lista

A continuación, agrega el código para solicitar al usuario un nombre a buscar, igresa tu nombre.

Solicitar dos números e imprimir el resultado de las 4 operaciones básicas

preparar un código simple para evaluar o encontrar el tiempo final de un periodo de tiempo dado, expresándolo en horas y minutos.

https://docs.python.org/3/library/functions.html.

In [ ]:
print("Ingresa un valor: ")
a = int(input())

print("Ingresa un valor: ")
b = int(input())

print("Ingresa un valor: ")
c = int(input())

In [ ]:
def mensaje():
    print("Ingresar valor: ")

mensaje()

In [ ]:
def mensaje():
    print("Ingresar valor: ")

mensaje()
a = int(input())
mensaje()
b = int(input())
mensaje()
c = int(input())

In [ ]:
def mensaje():
    print("Hello")

mensaje()

In [ ]:
def hello(name):
    print("Hello,", name)


name = input("Ingresa tu nombre: ")

hello(name)

In [ ]:
def mensaje(numero):
    print("Ingresa un número:", numero)

mensaje()

In [ ]:
def message(number):   #parametro
    print("Ingresa un número:", number)

message(1) #argumento

In [ ]:
def nombres(primer_nombre, apellido):
    print("Hola, mi nombre es", primer_nombre, apellido)

nombres("Juan", "Pérez")
nombres("Miguel", "Gónzaez")
nombres("Clara", "López")

In [ ]:
def nombres(primer_nombre, apellido):
    print("Hola, mi nombre es", primer_nombre, apellido)

nombres(primer_nombre = "Juan", apellido = "Pérez")
nombres(apellido = "Silvia", primer_nombre = "López")

In [ ]:
def una_funcion():
  a=5*8
  b=10.3+6
  return 123

una_funcion()

163

In [ ]:
def extraña_funcion(n):
    if(n % 2 == 0):
        return True

print(extraña_funcion(2))
print(extraña_funcion(1))

In [ ]:
def menu():
    print("App de operaciones.")
    print("1. Suma")
    print("2. Resta")
    print("3. Multiplicacion")
    print("4. Division")
    print("5. Salir")
    op = int(input("Escriba la opcion:"))
    if op==1:
      suma()
    elif op==2:
      resta()
    elif op==3:
      multiplicacion()
    elif op==4:
      division()
    else:
      exit()



menu()

In [ ]:
def multiple(numero):
  if numero % 5 == 0:
    return True

numeros = [2, 5, 10, 23, 50, 30, 33,35]

filter(multiple, numeros)

In [ ]:
list(filter(multiple, numeros))

In [ ]:
def doble(numero):
    return numero*2

numeros = [2, 5, 10, 23, 50, 33]

map(doble, numeros)

In [ ]:
list(map(doble, numeros)) #para mostrarlo en lista

In [ ]:
frase= 'Hola Luis, como estas?'
def longitud_palabras(frase):
    palabra_len = list(map(len, frase.split()))
    return palabra_len

longitud_palabras(frase)

In [ ]:
from functools import reduce   #traemos el módulo para poder utiliarla

def add(x, y):
    return x + y

lista = [2, 4, 7, 3]
print(reduce(add, lista))

In [ ]:
def suma(x,y):
  return(x + y)

suma(5,7)

In [ ]:
lambda x,y : x+ y

#Para poder utilizarla necesitamos guardarla en una variable
suma = lambda x,y : x + y
suma(5,7)

1 - Realiza un programa que solicite dos números y una operación (suma, resta, división y multiplicación) e imprima el resultado.

Además deberá mostrar un menú con las siguientes opciones:

Mostrar números

Sumar

Restar

Dividir (considerar la división entre 0)

multipicar

cerrar calculadora

In [ ]:
from functools import reduce

# Función para sumar todos los elementos de una lista
def suma(a, b):
    return a + b

In [ ]:
# Ejemplo de uso de reduce
lista = [1, 2, 3, 4, 5]
resultado_reduce = reduce(suma, lista)
print("Resultado de reduce:", resultado_reduce)

In [ ]:
# Función para multiplicar un número por 2
def multiplicar_por_cinco(num):
    return num * 5

In [ ]:
# Ejemplo de uso de map
lista = [1, 2, 3, 4, 5]
resultado_map = list(map(multiplicar_por_dos, lista))
print("Resultado de map:", resultado_map)

In [ ]:
# Función para verificar si un número es par
def es_par(num):
    return num % 2 == 0

In [ ]:

# Ejemplo de uso de filter
lista = [1, 2, 3, 4, 5]
resultado_filter = list(filter(es_par, lista))
print("Resultado de filter:", resultado_filter)

In [ ]:
lista = []
for letra in 'casa':
  lista.append(letra)
print(lista)

In [ ]:
lista = [letra for letra in 'casa']
print(lista)

In [ ]:
lista = []
for numero in range(0,11):
  lista.append(numero**2)
print(lista)

In [ ]:
lista = [numero**2 for numero in range(0,11)]

print(lista)